@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll {
  animation: scroll 18s linear infinite;
}
